{% extends "layout.njk" %}

 {% block content %}
 </br>
 <h2>Games</h2>
 <ul>
   {% for game in games %}
     </br>
     <img src="{{game.cover}}" alt="">
     </br>
     <a href="/games/{{game.slug}}">{{game.name}}</a>
     </br>
   {% endfor %}
 </ul>
 {% endblock %}