<h1>Platforms</h1>
<ul>
  {% for platform in platforms %}
      <h2>{{platform.name}}</h2>
      <img src="{{platform.cover}}">
    <a href="/platforms/{{platform.slug}}">See more</a>
  {% endfor %}
</ul>