{% extends "layout.njk" %}
{% block content %}

<div class="container">
  </br>
    <div class="title">
        <h1>Platforms</h1> 
    </div>
  </br>
  <div class="row row-cols-3">
    {% for platform in platforms %}
    <div class="col-md-auto">
      <div class="card" style="width: 18rem">
            <img src="{{platform.cover}}">
           <a href="/platforms/{{ platform.slug }}">{{ platform.name }}</a>
          </div>
        </div>
    {% endfor %}
    </div>  
  </div>
{% endblock %}