{% extends "layout.njk" %}

{% block content %}
  <h1>{{ game.name }}</h1>

  <p>{{ game.summary }}</p>

  <img src="{{ game.cover_url }}"/>
  </br>
  </br>
  <form method="POST" action="/games/{{ game.name }}">
    <div>
      <label>Username</label>
      </br>
      <input type="text" name="username">
    </div>
    <div>
      <label>Add comments</label>
      </br>
      <textarea name="userComment"></textarea>
    </div>
    <input type="hidden" name="gameSlug" value="{{ game.name }}"/>
    <button type="submit">Send</button>
  </form>
  <ul>
    {% for game in games %}
      <li>
      <img src="{{game.cover}}" alt="">
      </li>
      <a href="/games/{{game.slug}}">{{game.name}}</a>
    {% endfor %}
  </ul>

{% endblock %}
